graft docs
graft tupan

recursive-include tests *.py *.txt
recursive-include examples *.py

include *.py *.cfg *.txt *.rst
include tox.ini .travis.yml MANIFEST.in

global-exclude *.py[cod] __pycache__ *.so
prune docs/build
